@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
  --ff-base: 'Inter', sans-serif;

  --clr-primary-400: hsl(35, 77%, 62%);
  --clr-primary-500: hsl(5, 85%, 63%);

  --clr-neutral-400: hsl(36, 100%, 99%);
  --clr-neutral-500: hsl(233, 8%, 79%);
  --clr-neutral-600: hsl(236, 13%, 42%);
  --clr-neutral-700: hsl(240, 100%, 5%);

  --fw-400: 400;
  --fw-700: 700;
  --fw-800: 800;

  --fs-400: 0.9375rem;
  --fs-700: 2rem;

  --gap-size: 1rem;
}

/*resets*/
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--ff-base);
  line-height: 1.7;
}

body {
  min-height: 100vh;
  background-color: var(--clr-neutral-400);
}

img,
picture {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
}

p {
  font-size: var(--fs-400);
}

button {
  cursor: pointer;
  border: none;
  background-color: inherit;
  font-size: var(--fs-400);
}

h2 {
  font-weight: var(--fw-700);
}

/*utility*/
[data-logo='logo'] {
  width: 65px;
  height: 40px;
  background-image: url(/assets/images/logo.svg);
}

[data-logo='hamburger-close'] {
  width: 32px;
  height: 31px;
  background-image: url(/assets/images/icon-menu-close.svg);
}

[data-logo='hamburger-open'] {
  width: 40px;
  height: 17px;
  background-image: url(/assets/images/icon-menu.svg);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fw-400 {
  font-weight: var(--fw-400);
}

.fw-700 {
  font-weight: var(--fw-700);
}

.fw-800 {
  font-weight: var(--fw-800);
}

.primary-400 {
  color: var(--clr-primary-400);
}

.primary-500 {
  color: var(--clr-primary-500);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.bg-primary-500 {
  background-color: var(--clr-primary-500);
}

.neutral-400 {
  color: var(--clr-neutral-400);
}

.bg-neutral-400 {
  background-color: var(--clr-neutral-400);
}

.neutral-500 {
  color: var(--clr-neutral-500);
}

.bg-neutral-500 {
  background-color: var(--clr-neutral-500);
}

.neutral-600 {
  color: var(--clr-neutral-600);
}

.bg-neutral-600 {
  background-color: var(--clr-neutral-600);
}

.neutral-700 {
  color: var(--clr-neutral-700);
}

.bg-neutral-700 {
  background-color: var(--clr-neutral-700);
}

.button-fill {
  background-color: var(--clr-primary-500);
  color: var(--clr-neutral-400);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: var(--fw-700);
  padding: 1em 2em;
  margin-top: var(--gap-size);
  transition: background-color 200ms ease-in-out;
}

.button-fill:where(:focus, :hover) {
  background-color: var(--clr-neutral-700);
  color: var(--clr-neutral-400);
}

.container {
  width: min(100% - 2rem, 1200px);
  margin-inline: auto;
}

.flex-flow {
  display: flex;
}

.flex-space-between {
  justify-content: space-between;
  align-items: center;
}

.grid-flow {
  display: grid;
  gap: var(--gap-size);
}

article a {
  text-decoration: none;
  color: inherit;
}

.link-primary-400:where(:focus, :hover) {
  color: var(--clr-primary-400);
}

.link-primary-500:where(:focus, :hover) {
  color: var(--clr-primary-500);
}

/*styling*/
header {
  padding-block: 2rem;
  position: sticky;
  top: 0;
}

.site-header.scrolled {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.primary-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 70%;
  padding: 2rem;
  transform: translateX(100%);

  display: flex;
  align-items: center;
  transition: transform 200ms;
  z-index: 100;
}

.primary-nav[aria-expanded='true'] {
  transform: translateX(0);
  box-shadow: -5px 0 1000px rgba(0, 0, 0, 0.887);
}

.primary-nav > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2.25rem 1.25rem;
}

.primary-nav a {
  text-decoration: none;
  color: var(--clr-neutral-700);
  font-size: 1.2rem;
}

.primary-nav a:hover {
  color: var(--clr-primary-400);
}

/*main*/
main > .container {
  display: grid;
  gap: 3rem;
}

.main-article {
  display: grid;
}

.main-article > *:not(:first-child) {
  margin-top: var(--gap-size);
}

h1 {
  font-size: clamp(2.5rem, 10vw, 2.75rem);
  line-height: 1;
}

.recent-articles {
  padding-inline: 1.5rem;
  display: grid;
}

.recent-articles > * {
  padding-block: calc(var(--gap-size) * 1.5);
}

.recent-articles > *:where(:not(:first-child, :last-child)) {
  border-bottom: 1px solid var(--clr-neutral-600);
}

.featured-articles {
  grid-column: 1 / -1;
  display: grid;
  row-gap: 3rem;
  grid-template-columns: subgrid;
  counter-reset: article;
  margin-bottom: 2rem;
}

.featured-articles article {
  display: flex;
  gap: var(--gap-size);
  counter-increment: article;
}

.featured-articles .article-description {
  display: grid;
  gap: var(--gap-size);
  place-content: center;
}

.featured-articles .number::before {
  content: counter(article, decimal-leading-zero);
  color: var(--clr-neutral-500);
  font-size: 2rem;
}

.featured-articles h3 {
  color: var(--clr-neutral-700);
}

.featured-articles p {
  color: var(--clr-neutral-600);
}

.featured-articles img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-articles .article-img {
  max-width: 30%;
}

@media (width > 600px) {
  .primary-nav {
    padding: 0;
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0);
  }

  .primary-nav > ul {
    flex-direction: row;
    gap: var(--gap-size);
    font-size: var(--fs-400);
  }

  .menu-close,
  .menu-open {
    display: none;
  }

  main > .container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .main-article {
    grid-column: span 2;
    grid-template-columns: subgrid;
  }

  .main-article picture {
    grid-column: span 2;
  }

  .recent-articles {
    grid-column: span 2;
  }

  .featured-articles {
  }
}

@media (width > 900px) {
  main > .container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .recent-articles {
    grid-column: span 1;
  }
}
